* {
    margin: 0;
    background-color: purple;
}


.yellow-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    max-height: 33vh;
    max-width: 100vw;
}

.circle1 {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: yellow;
	filter: blur(100px);
		animation-name: shrink;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.blue-container {
	display: flex;
	flex-direction: row row-reverse;
	justify-content: space-evenly;
    max-height: 33vh;
    max-width: 100vw;
}

.circle2 {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background-color: blue;
	filter: blur(100px);
		animation-name: shrink2;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.red-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    max-height: 33vh;
    max-width: 100vw;
}

.circle3 {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background-color: darkred;
	filter: blur(100px);
		animation-name: shrink2;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes shrink {
	0% {
		height: 500px;
		width: 500px;
	}
	50% {
		height: 200px;
		width: 200px;
	}
	100% {
		height: 500px;
		width: 500px;
	}
}

@keyframes shrink2 {
	0% {
		height: 500px;
		width: 500px;
	}
	50% {
		height: 200px;
		width: 200px;
	}
	100% {
		height: 500px;
		width: 500px;
	}
}
